* {
    box-sizing: border-box;
}
body {
    background-color: aqua;
}

.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:rgb(187, 124, 124);
    align-items: center;
    height: 200px;

}

.item {
    display: flex;
    flex-basis: 140px;
    height: 140px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(64, 64, 110);
    border: 2px dashed grey;
}